/* custom css */
body {
	background-color: #f1f2f3;
}
table,
th,
td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
}

/* responsive */
@media only screen and (max-width: 768px) {
	.w-responsive {
		width: 100% !important;
	}
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	.w-responsive {
		width: 75% !important;
	}
}
